body {
    font-family: "Jua", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    /*width: 1087px;*/
    margin-left: 140px;
    margin-right: 140px;
}
/*.nav-links{*/
/*    margin-top: -7px;*/
/*    display: flex;*/
/*    !*width: 700px;*!*/
/*    align-content: center;*/
/*    justify-content: space-between;*/
/*    flex-direction: row;*/
/*    !*margin-right: 125px;*!*/
/*}*/
.logo a {
    font-size: 24px;
    text-decoration: none;
    color: #543333;
}
.logo a1 {
    margin-left: 11px;
    font-size: 17px;
    font-family: "Oleo Script Swash Caps", system-ui;
}
.p {
    color: #F6BC72;
}
.account-icon{
    width: 20px;
    height: 20px;
}
.logout-icon{
    width: 21px;
    height: 21px;
    margin-bottom: -0.5px;
}
.nav-links a {
    font-size: 15px;
    /*margin-left: 80px;*/
    text-decoration: none;
    color: #543333;
}
.nav-img{
    margin-top: 9px;
}
/*.contact{*/
/*    margin-right: 250px;*/
/*}*/
.p1 {
    font-family: "Jua", sans-serif;
    font-size: 20px;
}
.category p {
    font-family: "Oleo Script Swash Caps", system-ui;
    color: #777;
    width: 150px;
    height: auto;
}
.orangeColoredAlaphabet{
    color: #F6BC72;
}
.menus{
    padding-left: 50px;
    width: auto;
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.menus a{
    text-decoration: none;
}
.check {
    width: 230px;
}
.talk{
    width: 230px;
}
.record{
    width: 230px;
}
.contact{
    width: 230px;
}
.nav-img{
    justify-content: space-between;
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-left: -30px;
}
footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(180deg, #FBFAF6, #FFBD70);
    color: #4B4B4B;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 97.77%;
    position: relative;
    bottom: 0;
}
/*-------------------여기까지 navbar & footer Css-----------------*/
.mainContents{
    margin-right: 150px;
    margin-left: 160px;
}
.categories {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-content: center;
}
.category {
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    justify-content: space-between;
}
.baby {
    background-color: #FFF6EB;
    display: flex;
    flex-direction: column;
}
.baby-img{
    width: 150px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-top: -90px;
}
.mom {
    display: flex;
    align-content: center;
    background-color: #FCF1F1;
    width: 550px;
    height: 170px;
    /*flex-direction: row;*/
    /*border-right-width: 20px;*/
}
.dad {
    display: flex;
    align-content: center;
    background-color: #EBF3FF;
    width: 550px;
    height: 170px;
}
.dadsIcon{
    height: 230px;
    margin-right: 0;
    /*margin-left: 300px;*/
    margin-top: -30px;
}
.momsIcon{
    height: 230px;
    margin-right: 0;
    /*margin-left: 300px;*/
    margin-top: -30px;
}
.category h2 {
    width: 70px;
    height: auto;
    font-size: 20px;
    color: #333;
    margin-top: -5px;
}
.p1 {
    font-family: "Jua", sans-serif;
    font-size: 20px;
    width: 150px;
}
.category p {
    font-family: "Oleo Script Swash Caps", system-ui;
    color: #777;
    width: 150px;
    height: auto;
}
.orangeColoredAlaphabet{
    color: #F6BC72;
}
.yellow {
    background-color: #FFF6EB;
}
.pink {
    background-color: #FCF1F1;
}
.blue {
    background-color: #EBF3FF;
}
.info {
    display: none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 150px 20px 160px;
}
.yellow-info {
    background-color: #FFF6EB;
}
.pink-info {
    background-color: #FCF1F1;
}
.blue-info {
    background-color: #EBF3FF;
}
