body {
    font-family: 'Jua', sans-serif;
    background-color: #FFF6EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orangeColoredAlaphabet{
    color: #F6BC72;
}

.logo {
    font-size: 44px;
    text-decoration: none;
    color: #543333;
    margin-bottom: 20px;
}


#login-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    font-size: 1rem;
    color: #5b3a29;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #F6BC72;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #FFAE46;
}

#responseMessage {
    margin-top: 10px;
    font-size: 1rem;
    color: green;
}

