body {
    font-family: "Jua", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    color: #543333;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #543333;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.category {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.baby {
    background-color: #FFF6EB;
}

.mom {
    background-color: #FCF1F1;
}

.dad {
    background-color: #EBF3FF;
}

.category h2 {
    font-size: 20px;
    color: #333;
}

.category p {
    color: #777;
}

.yellow {
    background-color: #FFF6EB;
}

.pink {
    background-color: #FCF1F1;
}

.blue {
    background-color: #EBF3FF;
}

.info {
    display: none;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.yellow-info {
    background-color: #FFF6EB;
}

.pink-info {
    background-color: #FCF1F1;
}

.blue-info {
    background-color: #EBF3FF;
}

footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(180deg, #FBFAF6, #FFBD70);
    position: relative;
    bottom: 0;
    color: #4B4B4B
}
